<div class="vehicle-sum">
    <form {{on "submit" this.calculateSum}}>
        <h2>Vehicle Number Sum Calculator</h2>
        <input
            type="text"
            placeholder="Enter Vehicle Number (e.g. TN18H3259)"
            value={{this.input}}
            {{on "input" this.updateInput}}
        />
        <button class="btn" {{on "click" this.calculateSum}}>Calculate</button>

      {{#if this.result}}
        <p class="result">Total sum: <strong>{{this.result}}</strong></p>
      {{/if}}
      <p class="">
        <a href="https://www.carwale.com/used/carvaluation/" target="_blank" rel="noopener noreferrer" class="link">
          Check Car Valuation on CarWale
        </a>
      </p>
      <p>
        <a href="https://www.cartrade.com/second-hand/valuation/" target="_blank" rel="noopener noreferrer" class="link">
          Check Car Valuation on CarTrade
        </a>
      </p>
    </form>

</div>
